.title {
    text-align: center;
    font-size: 125px;
  }
  .description {
    text-align: center;
    font-size: 50px;
  }
  .Abschnitte {
    animation: change 10s linear infinite;
    width: 300px;
    border: 10px solid #05474e;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 50px;
    background:
     linear-gradient(90deg, #18a194, #1f6f78, #539299, #0a8c9b)
  }
  .Atze {
    display: inline;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
  }
  .button1 {
   border: none;
   padding: 32px 32px;
   text-decoration: none;
   display: inline-block;
   margin: 20px 55px;
   cursor: pointer;
   font-size: 50px;
   text-align: center;
   background-color: transparent;
   }
  .button2 {
   border: none;
   padding: 32px 0px;
   text-decoration: none;
   display: inline-block;
   margin: 20px 50px;
   cursor: pointer;
   font-size: 50px;
   text-align: center;
   background-color: transparent;
   }
  .button3 {
   border: none;
   padding: 32px 32px;
   text-decoration: none;
   display: inline-block;
   margin: 20px 43px;
   cursor: pointer;
   font-size: 50px;
   text-align: center;
   background-color: transparent;
   }
  .button4 {
   border: none;
   padding: 32px 32px;
   text-decoration: none;
   display: inline-block;
   margin: 20px 42px;
   cursor: pointer;
   font-size: 50px;
   text-align: center;
   background-color: transparent;
   }
   .button5 {
    border: none;
    padding: 32px 32px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 42px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    }
   .container {
    animation: change 10s linear infinite;
    background:
     linear-gradient(90deg, #18a194, #1f6f78, #539299, #0a8c9b)
   }
    @keyframes change{
    0%{
     color: #05474e;      
    } 
    25%{
     color: #075861;      
    }
    50%{
     color: #106a74;      
    }
    75%{
     color: #104e55;      
    }
    100%{
     color: #0c484e;      
    }
   }
   .sigma {
   margin-left: 700px;
   margin-right: 700px;
   }
   .slider{
    width: 1200px;
    max-width: 100vw;
    height: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
  